.container_size_big {
  max-width: calc(100% - 48px * 2);
}

@media (max-width: 900px) {
  .container_size_big {
    max-width: calc(100% - 24px * 2);
  }
}

@media (max-width: 568px) {
  .container_size_big {
    max-width: calc(100% - 16px * 2);
  }
}
