@import url(./__lang-link/_active/header__lang-link_active.css);

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin: 28px auto 56px auto;
}

@media (max-width: 1024px) {
    .header {
        margin: 28px auto 48px auto;
    }
}

@media (max-width: 320px) {
    .header {
        margin: 16px auto 48px auto;
    }
}
