.lead__caption {
  font-size: 10px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin: 8px 0 0;
  padding: 0;
  align-self: flex-start;
}

@media (max-width: 768px) {
  .container .lead__caption {
    margin-left: 24px;
  }
}
