.footer {
    margin: 92px auto 24px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

@media (max-width: 768px) {
    .footer {
        margin: 88px auto 24px auto;
    }
}

@media (max-width: 568px) {
    .footer {
        flex-direction: column;
        margin: 64px auto 24px auto;
    }
}
