@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__links/footer__links.css);
@import url(./__link-tem/footer__link-item.css);

.footer {
    margin: 92px auto 24px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

@media (max-width: 768px) {
    .footer {
        margin: 88px auto 24px auto;
    }
}

@media (max-width: 568px) {
    .footer {
        flex-direction: column;
        margin: 64px auto 24px auto;
    }
}
