.place__website {
    grid-area: website;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-self: end;
}

@media (max-width: 568px) {
    .place__website {
        padding: 0 16px;
    }
}
